{% extends 'portfolio/base.html' %}
{% load humanize %}
{% block content %}
{% load mathfilters %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <html>
            <head>
                <meta charset="UTF-8">
                <title>Eagle Financial</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

            </head>
             
            <body>
                     <div class="container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Welcome!</div>
                                            <div class="panel-body">
                                                Eagle Financial Services, your Midwest Financial Services Partner.
                                            </div>
                                        </div>
                                    </div>
                               </div>
                 
</div>
<div class="row">
    <h1 style="padding-left: 15Px">Customer Portfolio</h1>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Overall Portfolio Performance</h2>
</div>
                     <div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Portfolio Initial Investments ($)</th>
            <th>Portfolio Current Investments ($)</th>
            <th>Portfolio Total Gain/Loss ($)</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sum_acquired_value.acquired_value__sum |addition:sum_of_initial_stock_value|intcomma }}</td>
                <td>{{ sum_recent_value.recent_value__sum |addition:sum_current_stocks_value|intcomma }}</td>
                <td>{{ sum_recent_value.recent_value__sum |addition:sum_current_stocks_value |sub:sum_acquired_value.acquired_value__sum|intcomma }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Stocks Information</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Purchase Price ($)</th>
            <th>Initial Stock Value ($)</th>
            <th>Current Stock Price ($)</th>
            <th>Current Stock Value ($)</th>
            <th>Gain/Loss ($)</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            {% if stock.current_stock_gain >= 0 %}
            <tr>
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares|intcomma }}</td>
                <td>{{ stock.purchase_price|intcomma }}</td>
                <td>{{ stock.initial_stock_value|intcomma}}</td>
                <td>{{ stock.current_stock_price|intcomma}}0</td>
                <td>{{ stock.current_stock_value|intcomma}}0</td>
                <td style="color: green">{{ stock.current_stock_gain|intcomma }}0 </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares|intcomma }}</td>
                <td>{{ stock.purchase_price|intcomma }}</td>
                <td>{{ stock.initial_stock_value|intcomma}}</td>
                <td>{{ stock.current_stock_price|intcomma}}0</td>
                <td>{{ stock.current_stock_value|intcomma}}0</td>
                <td style="color: red">{{ stock.current_stock_gain|intcomma }}0 </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="bg-info">
                <th>Total of Inital Stocks ($)</th>
                <th>Total of Current Stocks ($)</th>
                <th>Total Stock Gain ($)</th>
            </tr>
        </thead>
        <tbody>
            <td>{{ sum_of_initial_stock_value|intcomma }}</td>
            <td>{{ sum_current_stocks_value|intcomma }}</td>
            <td>{{ sum_current_stocks_value |sub:sum_of_initial_stock_value|intcomma }}</td>
        </tbody>
    </table>
</div>




                     <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#32a852', '#6e226b', '#21a3db', '#15c21b', '#c21515'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>





<div class="row">
    <h2 style="padding-left: 15Px">Investment Information</h2>
</div>
<div class="table-responsive-lg">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Category</th>
            <th>Description</th>
            <th>Acquired Value ($)</th>
            <th>Acquired Date</th>
            <th>Recent Value ($)</th>
            <th>Recent Date</th>
            <th>Gain/Loss ($)</th>
        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            {% if investment.results_by_investment > 0 %}
            <tr>
                <td>{{ investment.customer }}</td>
                <td>{{ investment.category }}</td>
                <td>{{ investment.description }}</td>
                <td>{{ investment.acquired_value|intcomma }}</td>
                <td>{{ investment.acquired_date }}</td>
                <td>{{ investment.recent_value|intcomma }}</td>
                <td>{{ investment.recent_date }}</td>
                <td style="color: green">{{ investment.results_by_investment|intcomma }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ investment.customer }}</td>
                <td>{{ investment.category }}</td>
                <td>{{ investment.description }}</td>
                <td>{{ investment.acquired_value|intcomma }}</td>
                <td>{{ investment.acquired_date }}</td>
                <td>{{ investment.recent_value|intcomma }}</td>
                <td>{{ investment.recent_date }}</td>
                <td style="color: red" >{{ investment.results_by_investment|intcomma }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
                     <div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="bg-info">
                <th>Total of Inital Investments ($)</th>
                <th>Total of Current Investments ($)</th>
                <th>Total Investments Gain ($)</th>
            </tr>
        </thead>
        <tbody>
            <td>{{ sum_acquired_value.acquired_value__sum|intcomma }}</td>
            <td>{{ sum_recent_value.recent_value__sum|intcomma }}</td>
            <td>{{ sum_recent_value.recent_value__sum  |sub:sum_acquired_value.acquired_value__sum|intcomma }}</td>
        </tbody>
    </table>
</div>

{% endblock %}